.index{
	
	    color: #afa7ef;
    font-style: italic;
	
	
}	
	
h1{
    font-family: sans-serif;
font-size: 20px;  
color: #6aa8aa;  
}	

.novoUsuario h1{
	margin-left: 9px;
}


	
.ui-datatable-tablewrapper {
	border-style: outset;
}

.conteudo {
margin-left: 23%;
    width: 75%;
    height: 92%;
    margin-top: 19px;
    background-color: #f7f7f7;
    padding: 20px;
    border-style: inset;
}

.input-block {
	font-family: sans-serif;
}

.novoUsuario {
	height: 349px;
	font-family: Roboto, Arial, sans-serif;
	margin-top: 17px;
	inline-size: max-content;
	   
}
.p {
	font-family: sans-serif;
}

.msg {
	margin-left: 990;
	}

.icoNav{
	    margin-left: 296px;
}






input[type="submit" i]{
    width: 146%;
    display: block;
    margin-top: 0px;
    padding: 8px;
    font-size: 16px;
    color: #7159c1;
    border-radius: 6px;
    border: 1px solid #ccddef;
    outline-color: #7159c1;
    margin-left: 9px;
    
}


input[type="text"] {
        width: 146%;
    display: block;
    margin-top: 0px;
    padding: 8px;
    font-size: 16px;
    color: #7159c1;
    border-radius: 6px;
    border: 1px solid #ccddef;
    outline-color: #7159c1;
    margin-left: 9px;
    
}
input[type="password"]{
	   width: 146%;
    display: block;
    margin-top: 0px;
    padding: 8px;
    font-size: 16px;
    color: #7159c1;
    border-radius: 6px;
    border: 1px solid #ccddef;
    outline-color: #7159c1;
    margin-left: 9px;
    
}


.pesquisar input[type="text"] {
        width: 12%;
        height: 30px;
    display: block;
    margin-top: 0px;
    padding: 8px;
    font-size: 16px;
    color: #7159c1;
    border-radius: 6px;
    border: 1px solid #ccddef;
    outline-color: #7159c1;
    margin-left: 9px;
    
}
.pesquisar{
	margin-top: -74px;
}
.ui-button {
    top: -29px;
    display: inline-block;
    position: relative;
    padding: 0;
    margin-right: .1em;
    text-decoration: none!important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
    overflow: visible;
    left: 137px;
}
.novousuario label{
	    margin-left: 11px;
}

.imgIndex {
   width: 400px;
    margin-left: 49%;
    position:relative;
    margin-top: -304px;
   

}
