.suporte{
	
	
	    color: #afa7ef;
    font-style: italic;
}	


.conteudo {
	margin-left: 30%;
	width: 900px;
	height: 500px;
	margin-top: 60px;
	background-color: #f2f2f2;
	padding: 20px;
	border-radius: 50px;
}

.avatar{
margin-left: 288px;

}
.linkedin{
margin-left: 288px;
margin-bottom: 6px

}
.whats{
margin-left: 288px;
margin-bottom: 6px

}
.git{
margin-left: 288px;

}



.conteudo a{
    margin-left: 0px;
        font-size: 16px;
}


